@import url(http://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body{
	margin:0;
	font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
	font-size: 14px;

}

nav
{
	font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
}

nav li{
	float:left;
	height:50px;
	width:300px;
	list-style:none;
	margin-top:20px;
	margin-left:60px;

}

nav li:last-child{
	max-width: 100%;
}

.menu-bar{
	margin:10px auto;
	width:100%;
	background-color: #e5e5e5;
	float:left;
	
} /*good to go*/

.main-content li{
	width:300px;
	margin-bottom:30px;
	list-style: none;
	float:left;
	height:200px;
	margin-right: 30px;
}

.main-content{
	margin:10px auto;	
}

.main-count.expand-image{
	width:500px;
	margin-left:30px;
}

.footer{
	position: absolute;
	bottom:30px;	
	margin-left: 30px;
	font-size: 10px;
}




