<nav role ="navigation"  >
    <li><a ng-href="#/about"> About Me </a></li>
    <!---test-->
    <!--end test-->
    <li>
        <div class="selecton">
            <select ng-model="catFilter" ng-options="category for category in availableCategory" ng-class="grab(catFilter)" ng-click="go('#/{{picturesId}}')">
            <option value="">All</option>
        </select>
        </div>
    </li>
    <li><a ng-href="#/contact"> Contact </a></li> 

    <li>
        <form ng-submit="submit()">
            <input type="text" ng-model="searchValue" name="text" ng-class="search(searchValue)"/>
        </form>
    </li>
</nav>

